<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sistema de Administração, Finanças e Infraestrutura - SAFI</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous"
  >
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<!-- Header -->


<!-- Begin page content -->
<main role="main" class="container">
  <div class="row">
    <div class="col-12 p-2">
      <p>
        <!--- TODO Alterar URL do logo para endereço definitivo -->
        <img src="https://coad.s3-sa-east-1.amazonaws.com/logo-safi-v2.png" style="max-width:60%;" alt="SAFI Logo">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-2" style="font-family: Roboto">
      <p>
        Olá, {{ nome }}.
      </p>

      <p>
        Você foi definido como {{ papel }} do contrato {{ contrato }} no SAFI. Para cadastrar esse contrato, basta
        clicar no botão abaixo ou
        copiar o endereço do link e colar no seu navegador.
      </p>

      <p>
        Clique no botão abaixo e complete o cadastro do contrato:

        <br/> <br/>

      <form action="{{ url_contrato }}" method="get">
        <button type="submit" value="Submit"
                style="display:inline-block; margin-bottom: 0;font-weight: 400; text-align:center; white-space: nowrap; vertical-align: middle; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; border-radius: 4px; user-select: none;color: #fff; background-color: #602A2A; border-color: #602A2A;"
        >
          Cadastrar Contrato
        </button>
      </form>
      </p>

      <p>
        Ou utilize o link <a href="{{ url_contrato }}">{{ url_contrato }}</a>.
      </p>

    </div>
  </div>

</main>

<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous">
</script>
</body>

</html>
